@media screen and (max-width: 1441px) {
  #header #nav {
    width: 45%;
  }
  #header #nav ul li {
    font-size: 22px;
    padding: 0px 7px;
  }
  #cover {
    height: 600px;
  }
}

@media screen and (max-width: 1025px) {
  #header #logo {
    width: 47%;
  }
  #header #nav {
    width: 50%;
  }
  #header #nav ul li {
    font-size: 18px;
    padding: 0px 4px;
  }
  #cover {
    height: 450px;
  }
  #cover h1 {
    padding-top: 200px;
    font-size: 40px;
  }
  #cover h2 {
    font-size: 20px;
    letter-spacing: 2px;
  }
  #about .wrapper {
    width: 90%;
    margin: 0px auto;
  }
  #about .wrapper .container {
    width: 70%;
  }
  #skills .wrapper {
    width: 90%;
  }
  #offers .wrapper {
    width: 90%;
  }
  #offers .wrapper .container {
    width: 95%;
  }
}

@media screen and (max-width: 921px) {
  #header #nav ul li {
    font-size: 16px;
  }
  #about .wrapper h2 {
    font-size: 47px;
  }
  #skills .wrapper h2 {
    font-size: 47px;
  }
  #skills .wrapper .container .skillBar {
    height: 35px;
    font-size: 25px;
  }
  #offers .wrapper h2 {
    font-size: 47px;
  }
  #offers .wrapper .container .offer {
    margin-top: 70px;
  }
  #projects .wrapper h2 {
    font-size: 47px;
  }
  #projects .wrapper p {
    padding: 0px 30px;
  }
}

@media screen and (max-width: 769px) {
  #header {
    width: 90%;
    left: 5%;
  }
  #header #logo img {
    width: 47%;
  }
  #header #nav {
    width: 50%;
  }
  #header #nav ul li {
    font-size: 15px;
    padding: 0px 3px;
  }
  #cover h1 {
    padding-top: 150px;
    font-size: 36px;
  }
  #cover h2 {
    font-size: 18px;
  }
  #about .wrapper {
    padding: 20px 0px;
  }
  #about .wrapper h2 {
    font-size: 45px;
    padding: 15px 0px;
  }
  #about .wrapper p {
    font-size: 16px;
    padding: 0px 50px;
    line-height: 1.2;
  }
  #about .wrapper .container {
    width: 60%;
  }
  #about .wrapper .container #authorImg {
    width: 40%;
  }
  #about .wrapper .container #aboutAuthor p {
    font-size: 16px;
    margin-left: -20%;
  }
  #about .wrapper .container #aboutAuthor .red {
    font-size: 20px;
  }
  #skills .wrapper {
    width: 95%;
  }
  #skills .wrapper h2 {
    font-size: 45px;
  }
  #skills .wrapper .container {
    width: 95%;
  }
  #offers .wrapper {
    width: 95%;
  }
  #offers .wrapper h2 {
    font-size: 45px;
  }
  #offers .wrapper .container {
    width: 95%;
  }
  #offers .wrapper .container .offer h3 {
    letter-spacing: 4px;
  }
  #offers .wrapper .container .offer .offerText1 {
    display: none;
  }
  #offers .wrapper .container .offer .offerText2 {
    display: inline;
  }
  #projects .wrapper {
    width: 95%;
  }
  #projects .wrapper h2 {
    font-size: 45px;
  }
  #projects .wrapper .container {
    width: 95%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0px;
  }
  #projects .wrapper .container .projectBlock {
    width: 70%;
    margin-top: 70px;
  }
}

@media screen and (max-width: 601px) {
  #header {
    top: 3%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #header #logo img {
    width: 100%;
  }
  #header #nav {
    width: 100%;
  }
  #header #nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #header #nav ul li {
    font-size: 20px;
    padding: 0px 7px;
  }
  #about .wrapper {
    width: 85%;
  }
  #about .wrapper h2 {
    font-size: 40px;
    letter-spacing: 3px;
  }
  #about .wrapper .aboutText1 {
    display: none;
  }
  #about .wrapper .aboutText2 {
    display: block;
    font-size: 16px;
    padding: 0px 40px;
    line-height: 1.3;
  }
  #about .wrapper .container {
    width: 80%;
  }
  #skills .wrapper h2 {
    font-size: 40px;
    letter-spacing: 3px;
  }
  #skills .wrapper .skillsText2 {
    display: none;
  }
  #skills .wrapper .skillsText1 {
    font-size: 16px;
    line-height: 1.3;
    padding: 0px 30px;
  }
  #offers .wrapper h2 {
    font-size: 40px;
    letter-spacing: 3px;
  }
  #offers .wrapper .offersText1 {
    display: none;
  }
  #offers .wrapper .offersText2 {
    display: inline;
    padding: 0px 30px;
  }
  #offers .wrapper .container {
    width: 100%;
  }
  #offers .wrapper .container .offer {
    width: 80%;
    margin-top: 20px;
  }
  #offers .wrapper .container #firstOffer {
    margin-top: 75px;
  }
  #projects .wrapper h2 {
    font-size: 40px;
    letter-spacing: 3px;
  }
  #projects .wrapper .projectsText1 {
    display: none;
  }
  #projects .wrapper .projectsText2 {
    display: inline-block;
    font-size: 16px;
    line-height: 1.3;
  }
}

@media screen and (max-width: 481px) {
  #cover h1 {
    font-size: 34px;
  }
  #cover h2 {
    padding: 10px;
    font-size: 18px;
  }
  #about .wrapper {
    width: 90%;
  }
  #about .wrapper h2 {
    font-size: 32px;
  }
  #about .wrapper .aboutText2 {
    font-size: 14px;
    padding: 0px 40px;
    line-height: 1.2;
  }
  #about .wrapper .container {
    width: 90%;
  }
  #skills .wrapper {
    width: 90%;
  }
  #skills .wrapper h2 {
    font-size: 32px;
  }
  #skills .wrapper .skillsText1 {
    font-size: 14px;
    padding: 0px 40px;
    line-height: 1.2;
  }
  #skills .wrapper .container {
    display: block;
  }
  #skills .wrapper .container .skillBar {
    height: 30px;
    font-size: 20px;
    padding-left: 30px;
  }
  #offers .wrapper h2 {
    font-size: 32px;
  }
  #offers .wrapper .offersText2 {
    display: inline-block;
    padding: 0px 40px;
  }
  #offers .wrapper .container .offer h3 {
    font-size: 26px;
  }
  #projects .wrapper h2 {
    font-size: 32px;
  }
  #projects .wrapper .container .projectBlock {
    margin-top: 35px;
  }
  #projects .wrapper .container .projectBlock figcaption {
    font-size: 26px;
  }
}

@media screen and (max-width: 426px) {
  #header {
    width: 94%;
    padding: 3% 3%;
    position: relative;
    left: 0%;
    background-color: #0b090a;
  }
  #header #nav {
    width: 100%;
  }
  #header #nav ul li {
    font-size: 18px;
    padding: 0px 4px;
  }
  #cover {
    height: 300px;
    background-image: none;
    background-color: #0b090a;
  }
  #cover h1 {
    font-size: 28px;
    padding-top: 75px;
  }
  #cover h2 {
    font-size: 14px;
  }
  #about .wrapper {
    width: 95%;
  }
  #about .wrapper h2 {
    font-size: 34px;
  }
  #about .wrapper .aboutText2 {
    font-size: 14px;
    padding: 0px 20px;
    line-height: 1;
  }
  #about .wrapper .container {
    width: 95%;
  }
  #skills .wrapper h2 {
    letter-spacing: 4px;
  }
  #skills .wrapper .skillsText1 {
    padding: 0px 20px;
  }
  #skills .wrapper .container .skillBar {
    margin-top: 20px;
  }
}

@media screen and (max-width: 376px) {
  #header {
    padding: 3% 3% 0% 3%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: auto;
  }
  #header #logo img {
    width: 100%;
    padding-bottom: 10px;
  }
  #header #nav {
    width: 60%;
  }
  #header #nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #header #nav ul li {
    text-align: center;
    font-size: 16px;
    padding: 2px 7px;
  }
  #cover .shadow {
    background-color: rgba(0, 0, 0, 0);
  }
  #cover h1 {
    font-size: 24px;
  }
  #cover h2 {
    font-size: 12px;
  }
  #about {
    height: 1000px;
  }
  #about .wrapper {
    height: 850px;
    width: 95%;
  }
  #about .wrapper h2 {
    font-size: 30px;
    letter-spacing: 2px;
  }
  #about .wrapper .aboutText2 {
    font-size: 14px;
    padding: 0px 20px;
  }
  #about .wrapper .container {
    margin: 30px auto;
    width: 70%;
  }
  #about .wrapper .container #aboutAuthor {
    width: 80%;
    margin: 35px auto;
    display: block;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  #about .wrapper .container #aboutAuthor p {
    text-align: left;
  }
  #about .wrapper .container #aboutAuthor .red {
    text-align: left;
  }
  #about .wrapper .container #aboutAuthor p:last-child {
    padding-bottom: 30px;
  }
  #about .wrapper .container #authorImg {
    width: 80%;
    margin: 0px auto;
  }
  #about .wrapper .container #authorImg img {
    width: 40%;
  }
  #skills .wrapper h2 {
    letter-spacing: 2px;
    font-size: 30px;
  }
  #offers .wrapper h2 {
    font-size: 30px;
    letter-spacing: 2px;
  }
  #projects .wrapper h2 {
    font-size: 30px;
    letter-spacing: 2px;
  }
  #projects .wrapper .container .projectBlock figcaption {
    font-size: 24px;
  }
}

@media screen and (max-width: 321px) {
  #about {
    height: 800px;
  }
  #about .wrapper {
    height: 750px;
    width: 95%;
  }
  #about .wrapper h2 {
    font-size: 28px;
    letter-spacing: 2px;
  }
  #about .wrapper .aboutText2 {
    font-size: 14px;
    padding: 0px 7px;
  }
  #about .wrapper .container {
    margin: 30px auto;
    width: 70%;
  }
  #about .wrapper .container #aboutAuthor {
    width: 90%;
    margin: 15px auto;
    display: block;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  #about .wrapper .container #aboutAuthor p {
    font-size: 14px;
    text-align: left;
  }
  #about .wrapper .container #aboutAuthor .red {
    font-size: 18px;
    text-align: left;
  }
  #about .wrapper .container #aboutAuthor p:last-child {
    padding-bottom: 30px;
  }
  #about .wrapper .container #authorImg {
    width: 80%;
    margin: 10px auto;
  }
  #about .wrapper .container #authorImg img {
    width: 40%;
  }
  #skills .wrapper h2 {
    letter-spacing: 2px;
    font-size: 28px;
  }
  #skills .wrapper .skillsText1 {
    font-size: 14px;
    padding: 0px 10px;
  }
  #offers .wrapper h2 {
    letter-spacing: 2px;
    font-size: 26px;
  }
  #offers .wrapper .offersText2 {
    font-size: 14px;
    padding: 0px 10px;
  }
  #projects .wrapper h2 {
    font-size: 26px;
    letter-spacing: 2px;
  }
  #projects .wrapper .projectsText2 {
    font-size: 14px;
    padding: 0px 10px;
  }
  #projects .wrapper .container .projectBlock {
    width: 85%;
  }
}
/*# sourceMappingURL=responsive.css.map */