* {
  margin: 0px;
  padding: 0px;
  scroll-behavior: smooth;
}

body {
  background-color: #0b090a;
  font-family: 'Raleway', sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body::-webkit-scrollbar {
  width: 12px;
  background-color: #0b090a;
}

body::-webkit-scrollbar-thumb {
  background-color: #2a2a2a;
}

a {
  text-decoration: none;
  color: #EEEEEE;
}

a:hover {
  color: #D72323;
  -webkit-transition: 400ms ease-in-out;
  transition: 400ms ease-in-out;
}

ul {
  list-style-type: none;
}

h2, h3 {
  font-weight: normal;
}

.red {
  color: #D72323;
}

.shadow {
  height: inherit;
  width: 100%;
  position: relative;
  background-color: rgba(0, 0, 0, 0.7);
}

.centerBlock {
  width: 80%;
  margin: 0px auto;
}

.dFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.arrow {
  position: absolute;
  left: 50%;
  width: 150px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  height: auto;
  bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.arrow i {
  font-size: 70px;
  color: #D72323;
  text-shadow: 0px 0px 25px #D72323;
}

.container {
  width: 55%;
  margin: 0px auto;
}

#header {
  width: 80%;
  height: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  left: 10%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  z-index: 10;
}

#header #logo {
  width: 35%;
}

#header #logo img {
  width: 50%;
}

#header #nav {
  width: 50%;
}

#header #nav ul {
  text-align: right;
}

#header #nav ul li {
  display: inline;
  padding: 0px 7px;
  font-size: 22px;
  text-transform: uppercase;
  border-bottom: 1px solid #D72323;
}

#cover {
  height: 750px;
  width: 100%;
  background-image: url("../img/cover.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  color: #EEEEEE;
  text-align: center;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 50% 100%, 0 85%);
          clip-path: polygon(0 0, 100% 0, 100% 85%, 50% 100%, 0 85%);
}

#cover h1 {
  padding-top: 250px;
  font-size: 50px;
  font-weight: normal;
}

#cover h2 {
  padding-top: 10px;
  font-size: 30px;
  font-weight: 400;
  letter-spacing: 5px;
}

#about {
  text-align: center;
  color: #EEEEEE;
  padding: 50px 0px;
  background-color: #0b090a;
}

#about .wrapper {
  width: 80%;
  margin: 0px auto;
  padding: 50px 0px;
  background-color: #141414;
}

#about .wrapper h2 {
  font-size: 50px;
  font-weight: 200;
  padding: 20px 0px;
  padding-bottom: 20px;
  letter-spacing: 7px;
}

#about .wrapper h2::before {
  content: "";
  display: block;
  width: 40px;
  height: 3px;
  margin: 0px auto;
  background-color: #D72323;
}

#about .wrapper .aboutText1 {
  font-size: 18px;
  padding: 0px 100px;
  line-height: 1.4;
}

#about .wrapper .aboutText2 {
  display: none;
}

#about .wrapper .container {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 50px 0px;
}

#about .wrapper .container #authorImg {
  width: 35%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

#about .wrapper .container #authorImg figure {
  position: relative;
}

#about .wrapper .container #authorImg figure::before {
  position: absolute;
  content: '';
  top: -15px;
  left: -15px;
  width: 30%;
  height: 40%;
  border-left: 3px solid #D72323;
  border-top: 3px solid #D72323;
}

#about .wrapper .container #authorImg figure::after {
  position: absolute;
  content: '';
  bottom: -15px;
  right: -15px;
  width: 30%;
  height: 40%;
  border-right: 3px solid #D72323;
  border-bottom: 3px solid #D72323;
}

#about .wrapper .container #authorImg figure img {
  width: 100%;
}

#about .wrapper .container #aboutAuthor {
  width: 55%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

#about .wrapper .container #aboutAuthor p, #about .wrapper .container #aboutAuthor h2 {
  text-align: left;
}

#about .wrapper .container #aboutAuthor p {
  font-size: 22px;
}

#about .wrapper .container #aboutAuthor .red {
  font-size: 26px;
  font-weight: bold;
  line-height: 2;
  text-decoration: line-through;
  font-style: italic;
}

#skills {
  background-color: #141414;
  color: #EEEEEE;
  padding: 50px 0px;
}

#skills .wrapper {
  width: 80%;
  margin: 0px auto;
  text-align: center;
}

#skills .wrapper h2 {
  font-size: 50px;
  font-weight: 200;
  padding: 20px 0px;
  padding-bottom: 20px;
  letter-spacing: 7px;
}

#skills .wrapper h2::before {
  content: "";
  display: block;
  width: 40px;
  height: 3px;
  margin: 0px auto;
  background-color: #D72323;
}

#skills .wrapper .skillsText1, #skills .wrapper .skillsText2 {
  font-size: 18px;
  line-height: 1.4;
}

#skills .wrapper .container {
  width: 80%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

#skills .wrapper .container .skillBar {
  --font-size: 30px;
  --height: 40px;
  height: var(--height);
  font-size: var(--font-size);
  padding-top: calc((var(--height) - var(--font-size)) / 2);
  margin-top: 40px;
  text-align: left;
  padding-left: 75px;
  background: #d72323;
  background: -webkit-gradient(linear, left top, right top, from(#D72323), color-stop(51%, #D72323), to(transparent));
  background: linear-gradient(90deg, #D72323 0%, #D72323 51%, transparent 100%);
}

#skills .wrapper .container #skill1 {
  width: 90%;
  -webkit-clip-path: polygon(7% 0, 100% 0%, 100% 100%, 0% 100%);
          clip-path: polygon(7% 0, 100% 0%, 100% 100%, 0% 100%);
}

#skills .wrapper .container #skill2 {
  width: 80%;
  -webkit-clip-path: polygon(8% 0, 100% 0%, 100% 100%, 0% 100%);
          clip-path: polygon(8% 0, 100% 0%, 100% 100%, 0% 100%);
}

#skills .wrapper .container #skill3 {
  width: 70%;
  -webkit-clip-path: polygon(9% 0, 100% 0%, 100% 100%, 0% 100%);
          clip-path: polygon(9% 0, 100% 0%, 100% 100%, 0% 100%);
}

#skills .wrapper .container #skill4 {
  width: 60%;
  -webkit-clip-path: polygon(10% 0, 100% 0%, 100% 100%, 0% 100%);
          clip-path: polygon(10% 0, 100% 0%, 100% 100%, 0% 100%);
}

#offers {
  text-align: center;
  color: #EEEEEE;
  padding: 70px 0px;
}

#offers .wrapper {
  width: 80%;
  margin: 0px auto;
  padding: 50px 0px;
  background-color: #141414;
}

#offers .wrapper h2 {
  font-size: 50px;
  font-weight: 200;
  padding: 20px 0px;
  padding-bottom: 20px;
  letter-spacing: 7px;
}

#offers .wrapper h2::before {
  content: "";
  display: block;
  width: 40px;
  height: 3px;
  margin: 0px auto;
  background-color: #D72323;
}

#offers .wrapper .offersText1 {
  font-size: 18px;
  line-height: 1.4;
  padding: 0px 100px;
}

#offers .wrapper .offersText2 {
  display: none;
}

#offers .wrapper .container {
  width: 80%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

#offers .wrapper .container .offer {
  position: relative;
  width: 30%;
  margin-top: 100px;
  padding: 0px 5px;
}

#offers .wrapper .container .offer h3 {
  padding: 10px 0px;
  font-size: 30px;
  color: #D72323;
  letter-spacing: 7px;
  text-transform: uppercase;
}

#offers .wrapper .container .offer .offersIcon i {
  padding: 10px 0px;
  font-size: 25px;
}

#offers .wrapper .container .offer .offerText1 {
  font-size: 18px;
  line-height: 1.2;
}

#offers .wrapper .container .offer .offerText2 {
  display: none;
}

#offers .wrapper .container #firstOffer::before {
  position: absolute;
  content: '';
  top: -15px;
  left: -15px;
  width: 30%;
  height: 40%;
  border-left: 3px solid #D72323;
  border-top: 3px solid #D72323;
}

#offers .wrapper .container #lastOffer::after {
  position: absolute;
  content: '';
  bottom: -15px;
  right: -15px;
  width: 30%;
  height: 40%;
  border-right: 3px solid #D72323;
  border-bottom: 3px solid #D72323;
}

#projects {
  background-color: #141414;
  color: #EEEEEE;
  padding: 50px 0px;
}

#projects .wrapper {
  text-align: center;
  width: 80%;
  margin: 0px auto;
}

#projects .wrapper h2 {
  font-size: 50px;
  font-weight: 200;
  padding: 20px 0px;
  padding-bottom: 20px;
  letter-spacing: 7px;
}

#projects .wrapper h2::before {
  content: "";
  display: block;
  width: 40px;
  height: 3px;
  margin: 0px auto;
  background-color: #D72323;
}

#projects .wrapper .projectsText1 {
  font-size: 18px;
  line-height: 1.4;
  padding: 0px 100px;
}

#projects .wrapper .projectsText2 {
  display: none;
}

#projects .wrapper .container {
  padding: 50px 0px;
  width: 90%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#projects .wrapper .container figure {
  width: 45%;
  position: relative;
}

#projects .wrapper .container figure img {
  width: 100%;
  -webkit-transition: 700ms ease-in-out;
  transition: 700ms ease-in-out;
}

#projects .wrapper .container figure img:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

#projects .wrapper .container figure figcaption {
  font-size: 28px;
  margin-top: 20px;
}

#projects .wrapper .container figure figcaption::before {
  content: "";
  display: block;
  width: 40px;
  height: 3px;
  margin: 0px auto;
  background-color: #D72323;
}
/*# sourceMappingURL=style.css.map */