*{
    margin: 0px;
    padding: 0px;
    scroll-behavior: smooth;
}
@import "var.scss";

body{
    background-color: $darkGrey;
    font-family: 'Raleway', sans-serif;
    box-sizing: border-box;
}
body::-webkit-scrollbar {
    width:12px;
    background-color:$darkGrey; 
}
body::-webkit-scrollbar-thumb{
   background-color:$grey; 

}
a{
    text-decoration: none;
    color:$beige;
    
}
a:hover{
    color: $red;
    transition: 400ms ease-in-out;
}
ul{
    list-style-type: none;
}
h2,h3{
    font-weight: normal;
}

//mixin
@mixin center{
    width: 80%;
    margin: 0px auto;
}
@mixin dFlex{
    display: flex;
    flex-wrap: wrap;
}
@mixin linkBorder{
    border-bottom: 1px solid $red;
}
@mixin imgBorderRight{
    position: absolute;
    content: '';
     bottom: -15px;
     right: -15px;
     width: 30%;
     height: 40%;
    border-right: 3px solid $red;
    border-bottom: 3px solid $red;
}
@mixin imgBorderLeft{
    position: absolute;
    content: '';
    top: -15px;
    left: -15px;
    width: 30%;
    height: 40%;
    border-left: 3px solid $red;
    border-top: 3px solid $red;
}
@mixin headings{
    font-size: 50px;
    font-weight: 200;
    padding: 20px 0px;
    padding-bottom: 20px;
    letter-spacing: 7px;
}
@mixin headingsBorder{
    content: "";
    display: block;
    width: 40px;
    height: 3px;
    margin: 0px auto;
    background-color: $red;
}

//mixin end

//layout
.red{
    color:$red;
}
.shadow{
    height: inherit;
    width: 100%;
    position: relative;
    background-color: rgba($color: $black, $alpha: 0.7);
}
.centerBlock{
    width: 80%;
    margin: 0px auto;
}
.dFlex{
    display: flex;
    flex-wrap: wrap;
}
.arrow {
    position: absolute;
    left:50%;
    width: 150px;
    transform: translate(-50%, -50%);
    height: auto;
    bottom: 10px;
    display: flex;
    justify-content: center;
    i{
        font-size: 70px;
        color:$red;
        text-shadow: 0px 0px 25px $red;
    }
}
.container{
    width: 55%;
    margin: 0px auto;
}
//layout end
//id
#header{
    width: 80%;
    height: 90px;
    @include dFlex;
    left:10%;
    justify-content:$sb;
    align-items: center;
    position: absolute;
    z-index: 10;
    #logo{
        width: 35%;
        img{
            width: 50%;
        }
    }
    
    #nav{
        width: 50%;
        ul{
            text-align: right;
        }
        ul li{
            display: inline;
            padding: 0px 7px;
            font-size: 22px;
            text-transform: uppercase;
            @include linkBorder;
        }
        
    }
}
#cover{
    height: 750px;
    width: 100%;
    background-image: url("../img/cover.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    color:$beige;
    text-align: center;
    h1{
        padding-top:250px;
        font-size: 50px;
        font-weight: normal;
    }
    h2{
        padding-top:10px;
        font-size: 30px;
        font-weight: 400;
        letter-spacing: 5px;
    }
    clip-path: polygon(0 0,100% 0,100% 85%,50% 100%,0 85%);
}
#about{
    //height: 800px;
    text-align: center;
    color:$beige;
    padding: 50px 0px;
    background-color: $darkGrey;
   .wrapper{
       @include center;
       //height: 700px;
       padding: 50px 0px;
       background-color: $greyBg;
       h2{
        @include headings;
        &::before{
            @include headingsBorder(); 
         }
         }
        .aboutText1{
        font-size: 18px;
        padding: 0px 100px;
        line-height: 1.4;
        }
        .aboutText2{
            display: none;
        }
        .container{
            justify-content: space-between;
            align-items: center;
            padding: 50px 0px;
            #authorImg{
                width: 35%;
                display: flex;
                justify-content: end;
                figure {
                    position: relative;
                    &::before{
                        
                        @include imgBorderLeft();
                    }
                    &::after{
                        
                        @include imgBorderRight();
                    }
                    img{
                    width: 100%;
                }
            }
                
            }
            #aboutAuthor{
                width: 55%;
                display: flex;
                flex-direction: column;
                justify-content: start;
                align-items: start;
                p,h2{
                    text-align: left;
                }
                p{
                    font-size: 22px;
                }
                .red{
                    font-size: 26px;
                    font-weight: bold;
                    line-height: 2;
                    text-decoration: line-through;
                    font-style: italic;
                }
                
            }
         }
   }
   
   
    
    
   }
#skills{
    //height: 650px;
    background-color: $greyBg;
    color: $beige;
    padding: 50px 0px;
    .wrapper{
        @include center;
        //height: 600px;
        text-align: center;
        h2{
            @include headings();
            &::before{
               @include headingsBorder(); 
            }
        }
      .skillsText1, .skillsText2{
        font-size: 18px;
        line-height: 1.4;
      }
      
      .container{
        //height: 400px;
        width: 80%;
        flex-direction: column;
        justify-content: space-evenly;
        .skillBar{
            --font-size: 30px;
            --height: 40px;
            height: var(--height);
            font-size: var(--font-size);
            padding-top: calc((var(--height) - var(--font-size)) / 2);
            margin-top: 40px;
            text-align: left;
            padding-left: 75px;
            background: rgb(215,35,35);
            background: linear-gradient(90deg, $red 0%, $red 51%, transparent 100%);
        }
        
        
        #skill1{
            width: 90%;
            clip-path: polygon(7% 0, 100% 0%, 100% 100%, 0% 100%);
        }
        #skill2{
            width: 80%;
            clip-path: polygon(8% 0, 100% 0%, 100% 100%, 0% 100%);
           
        }
        #skill3{
            width: 70%;
            clip-path: polygon(9% 0, 100% 0%, 100% 100%, 0% 100%);
            
        }
        #skill4{
            width: 60%;
            clip-path: polygon(10% 0, 100% 0%, 100% 100%, 0% 100%);
            
        }
      }
      
    }
}
#offers{
    text-align: center;
    color: $beige;
    padding: 70px 0px;
    .wrapper{
        @include center();
        padding: 50px 0px;
        background-color: $greyBg;
        h2{
            @include headings();
            &::before{
                @include headingsBorder();
            }
        }
        .offersText1{
            font-size: 18px;
            line-height: 1.4;
            padding: 0px 100px;
        }
        .offersText2{
            display: none;
        }
        .container{
            width: 80%;
            justify-content: space-evenly;
            .offer{
                position: relative;
                width: 30%;
                //height: 250px;
                margin-top: 100px;
                padding: 0px 5px;
                h3{
                    padding: 10px 0px;
                    font-size: 30px;
                    color: $red;
                    letter-spacing: 7px;
                    text-transform: uppercase;
                }
                .offersIcon i{
                    padding: 10px 0px;
                    font-size: 25px;
                }
                .offerText1{
                    font-size: 18px;
                    line-height: 1.2;
                }
                .offerText2{
                    display: none;
                }
            }
            #firstOffer{
                &::before{
                    @include imgBorderLeft();
                }
            }
            #lastOffer{
                &::after{
                    @include imgBorderRight();
                }
            }
        }
    }
}
#projects{
    background-color: $greyBg;
    color: $beige;
    padding: 50px 0px;
    .wrapper{
        text-align: center;
        @include center;
        h2{
            @include headings();
            &::before{
                @include headingsBorder();
            }
        }
        .projectsText1{
            font-size:18px;
            line-height: 1.4;
            padding: 0px 100px;
        }
        .projectsText2{
            display: none;
        }
        .container{
            padding: 50px 0px;
            width: 90%;
            justify-content: space-between;
            figure{
                width: 45%;
                position: relative;
                img{
                    width: 100%;
                    transition: 700ms ease-in-out;
                }
                img:hover{
                    transform: scale(1.05);
                }
                figcaption{
                    font-size: 28px;
                    margin-top: 20px;
                    &::before{
                        @include headingsBorder();
                    }
                   
                }
                
            }
            
            
        }
    }
}
//id end
